### SQL in Python

In [1]:
import sqlite3
connect = sqlite3.connect("cis.db")

In [2]:
cursor = connect.cursor()

In [3]:
sql_command = """CREATE TABLE Suppliers (
Supplier_id int primary key,
S_name varchar(15),
S_contact varchar(50),
S_phone varchar(15),
S_address varchar(100),
S_state varchar(15),
S_zip);"""

In [4]:
cursor.execute(sql_command)

In [7]:
sql_command = """INSERT INTO Suppliers VALUES(
'100','APPLE','Johnson Smith','408-2996-1010','One Apple Park Way Cupertino', 'CA', '95014');"""

In [8]:
cursor.execute(sql_command)

In [9]:
sql_command = """INSERT INTO Suppliers VALUES(
'200','DELL INC','Mike Dearing','800-624-9897','1 Dell Way, Roundrock', 'TX', '78682');"""
cursor.execute(sql_command)

In [10]:
connect.commit()

In [11]:
connect.close()

In [12]:
import sqlite3
connect = sqlite3.connect("cis.db")
cursor = connect.cursor()

In [13]:
cursor.execute("SELECT * FROM Suppliers")

In [14]:
ans = cursor.fetchall()

In [15]:
for i in ans:
    print(i)

(100, 'APPLE', 'Johnson Smith', '408-2996-1010', 'One Apple Park Way Cupertino', 'CA', '95014')
(200, 'DELL INC', 'Mike Dearing', '800-624-9897', '1 Dell Way, Roundrock', 'TX', '78682')

In [16]:
import numpy as np
import pandas as pd

In [20]:
data_file = pd.read_sql("SELECT * FROM Suppliers", connect)
data_file

,Supplier_id,S_name,S_contact,S_phone,S_address,S_state,S_zip
0,100,APPLE,Johnson Smith,408-2996-1010,One Apple Park Way Cupertino,CA,95014
1,200,DELL INC,Mike Dearing,800-624-9897,"1 Dell Way, Roundrock",TX,78682

In [36]:
import sys
import xlrd

In [37]:
workbook = xlrd.open_workbook("INVOICES.xlsx")

In [38]:
worksheet = workbook.sheet_by_index(0)

In [39]:
sheet_count = workbook.nsheets
print("Total numbmer of sheets: {0}".format(sheet_count))

Total numbmer of sheets: 3

In [28]:
sheets_name = workbook.sheet_names()
print("Sheet names: {0}".format(sheets_name))

Sheet names: ['May', 'June', 'July']

In [40]:
worksheet.nrows

8

In [41]:
worksheet.ncols

5

In [30]:
total_rows = worksheet.nrows
total_cols = worksheet.ncols
print("Number of rows: {0} \nNumber of columns: {1}".format(total_rows, total_cols))

Number of rows: 8
Number of columns: 5

In [35]:
table = list()
record = list()

for x in range(total_rows):
    for y in range(total_cols):
        record.append(worksheet.cell(x,y).value)
    table.append(record)
    record = []
    x += 1
print(table)

[['Customer_id', 'Customer_name', 'Invoice_No', 'Invoice_amount', 'Invoice_date'], [1001.0, 'Mary', 180601.0, 15000.0, 43222.0], [1019.0, 'Maple', 180602.0, 8000.0, 43228.0], [1013.0, 'Steve', 180603.0, 13000.0, 43233.0], [1016.0, 'Joe', 180604.0, 6000.0, 43236.0], [1002.0, 'Susan', 180605.0, 12000.0, 43242.0], [1006.0, 'Kitty', 180606.0, 10000.0, 43247.0], [1015.0, 'Alex', 180607.0, 14000.0, 43250.0]]

In [42]:
for col in range(worksheet.ncols):
    print(worksheet.cell_value(0, col))

Customer_id
Customer_name
Invoice_No
Invoice_amount
Invoice_date

In [43]:
for row in range(worksheet.nrows):
    print(worksheet.cell_value(1, row))

1001.0
Mary
180601.0
15000.0
43222.0

IndexError: list index out of range