### SQL in Python

In [1]:
import sqlite3
connect = sqlite3.connect("cis.db")

In [2]:
cursor = connect.cursor()

In [3]:
sql_command = """CREATE TABLE Suppliers (
Supplier_id int primary key,
S_name varchar(15),
S_contact varchar(50),
S_phone varchar(15),
S_address varchar(100),
S_state varchar(15),
S_zip);"""

In [4]:
cursor.execute(sql_command)

In [7]:
sql_command = """INSERT INTO Suppliers VALUES(
'100','APPLE','Johnson Smith','408-2996-1010','One Apple Park Way Cupertino', 'CA', '95014');"""

In [8]:
cursor.execute(sql_command)

In [9]:
sql_command = """INSERT INTO Suppliers VALUES(
'200','DELL INC','Mike Dearing','800-624-9897','1 Dell Way, Roundrock', 'TX', '78682');"""
cursor.execute(sql_command)

In [10]:
connect.commit()

In [11]:
connect.close()

In [12]:
import sqlite3
connect = sqlite3.connect("cis.db")
cursor = connect.cursor()

In [13]:
cursor.execute("SELECT * FROM Suppliers")

In [14]:
ans = cursor.fetchall()

In [15]:
for i in ans:
    print(i)

(100, 'APPLE', 'Johnson Smith', '408-2996-1010', 'One Apple Park Way Cupertino', 'CA', '95014')
(200, 'DELL INC', 'Mike Dearing', '800-624-9897', '1 Dell Way, Roundrock', 'TX', '78682')

In [16]:
import numpy as np
import pandas as pd

In [20]:
data_file = pd.read_sql("SELECT * FROM Suppliers", connect)
data_file

,Supplier_id,S_name,S_contact,S_phone,S_address,S_state,S_zip
0,100,APPLE,Johnson Smith,408-2996-1010,One Apple Park Way Cupertino,CA,95014
1,200,DELL INC,Mike Dearing,800-624-9897,"1 Dell Way, Roundrock",TX,78682